streamlit
google-generativeai
Pillow
tensorflow
fastapi
uvicorn
numpy>=1.24.3
python-multipart
huggingface_hub
langchain
langchain-google-genai
langchain-community
qdrant-client
langgraph
langchain-core
langchain-community
langchain-qdrant
google-genai
pandas
toml
pytz
scikit-learn==1.6.1
xgboost
joblib
plotly
python-dateutil
